<link rel="stylesheet" href="/static/css/_game.css">
<script src="/static/js/_game.js"></script>
<div class="game" id="">
    <div class="info" id = 'show'>
            <h1>{{game.cell.id}} {{game.cell.title}}</h1>
        <p>
            <span>Комментарий человека:</span>
            <span>{{game.user_comment}}</span>
        </p>
        <p>
            <span>Мой комментарий:</span>
            <span>{{game.personal_comment}}</span>
        </p>
        <p>
            <span>Тип:</span>
            <span>
                {% if game.cell%}
                {{game.cell.type.name}}
                {% endif %}   
            </span>
        </p>
        
    </div>
    <p>
        <a href="{{url_for('edit_game', id=game.id)}}" class="">Редактировать</a>
    </p>
</div>
