<link rel="stylesheet" href="/static/css/user.css">
<script src="/static/js/user.js"></script>
{% extends 'base.html' %}
{% block content %}
<div class="current_user_block">
    <aside class="user">
        <div class = 'user_info_block' id="">
            <div class="user_info">
                <div class="part">
                    <div>
                        <h1>Имя:</h1>
                        <p>{{ user.name }}</p>
                    </div>
                </div>
                <div class="part">
                    <h1>Email:</h1>
                    <p>{{ user.email }}</p>
                </div>
                <div class="part">
                    <h1>Номер телефона:</h1>
                    <p>{{ user.phone }}</p>
                </div>
                <div class="part">
                    <h1>Дата добавления:</h1>
                    <p>{{ user.date.strftime("%d.%m.%Y")}}</p>
                </div>
                <div class="part">
                    <h1>День рождения:</h1>
                    <p>
                        {%if user.birthday%}
                        {{ user.birthday.strftime("%d.%m.%Y")}}
                        {%endif%}
                    </p>
                </div>
                <div class="part">
                    <h1>Город:</h1>
                    <p>{{ user.city }}</p>
                </div>
                <div class="part">
                    <h1>Запрос:</h1>
                    <p>{{ user.additional_comment }}</p>
                </div>
            </div>
            <div class="info_footer">
                <a href="{{url_for('report', id=user.id)}}" class="link">Отчет</a>
                <span class="change link">Изменить</span>
            </div>
        </div>

        <form action="", method="post" id="hide" class="change_user">
            <div class="part">
                {{add_user_form.name.label}}
                {{add_user_form.name(value=user.name, class='field')}}
            </div>
            <div class="part">
                {{add_user_form.email.label}}
                {{add_user_form.email(value=user.email, class='field')}}
            </div>
            <div class="part">
                {{add_user_form.phone.label}}
                {{add_user_form.phone(value=user.phone, class='field')}}
            </div>
            <div class="part">
                {{add_user_form.birthday.label}}
                {{add_user_form.birthday(value=user.birthday, class='field')}}
            </div>
            <div class="part">
                {{add_user_form.city.label}}
                {{add_user_form.city(value=user.city, class='field')}}
            </div>
            <div class="part">
                {{add_user_form.comment.label}}
                {{add_user_form.comment(value=user.additional_comment, class='field')}}
            </div>
            <div class="part">
                {{add_user_form.submit(class='button')}}
            </div>
        </form>
    </aside>

    <aside class="users_cells">
            {%for game in games%}
            {% include '_game.html' %}
            {% endfor %} 

    </aside>

    <aside class="add_game">
        <div class="user_links">
            {%for user_ in users_block%}
            {% if user.id == user_.id%}
            <a href="{{url_for('user', id=user_.id)}}">{{user_.name}}</a>
            {%else%}
            <a href="{{url_for('user', id=user_.id)}}" style="background-color: rgb(92, 0, 167); color: white; border: 1px solid white;">{{user_.name}}</a>
            {%endif%}
            {% endfor %} 
        </div>
        <form action="", method="post">
            
            <h1>Новая клетка</h1>
            <p>
                {{add_game_form.cell_id.label}}
                {{add_game_form.cell_id(class='field')}}
            </p>
            <p>
                {{add_game_form.user_comment.label}}
                {{add_game_form.user_comment(class='text_field')}}
            </p>
            <p>
                {{add_game_form.my_comment.label}}
                {{add_game_form.my_comment(class='text_field')}}
            </p>
            {{add_game_form.submit(class='button')}}
        </form>
    </aside>
</div>



{% endblock %}